input[type="text"], input[type="email"],input[type="password"], textarea, select { 
    outline: none; box-sizing: border-box; width: 100%;  font-family: 'Open Sans', sans-serif; background-color: #DEDEDE; border: none; padding: 5px;
}

input[type="text"]:hover, input[type="email"]:hover,input[type="password"]:hover, textarea:hover, select:hover { 
 background-color: #f4f4f4;
}
input[type="text"]:focus, input[type="email"]:focus,input[type="password"]:focus, textarea:focus, select:focus { 
 background-color: #f4f4f4;
}

.elemento_titulo{ 
   font-size: 25px;
    font-family: 'Montserrat', sans-serif; color:#29abe2; 
     
}
.elemento_tituloon{color: #f7403a;
     font-size: 20px;
    font-family: 'Montserrats', sans-serif; color:#29abe2; 
}
.textoImagenTitulo {  color: #495aa2 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;  }
.textoImagenImagen { border-radius: 50%;}
.textoImagenTitulo1 { padding:5px; background-color:rgba(0,0,0,0.86); color:#fff; font-size:16px; text-align:center; top: 50%;  left: 50%; position:absolute;  transform: translate(-50%, -50%); width:80%; font-weight:100;}
.elemento_divisor{ clear:both;    width:100%;  
}
.elemento_divisor1{ clear:both; width:100%; height:1px; background-color:#CCC; margin:8px 0 8px 0;
}
.elementoBanner { position:relative; width:100%;}
.elementoBannerInterno{position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .elementoBannerTit { font-size:60px;  font-family: 'Montserrat', sans-serif; font-weight:100; line-height:120%; text-shadow:1px 1px 3px rgba(0,0,0,0.58); font-weight: 700;}
   .elementoBannerText { font-size:20px;  }
.elementoFile { width:100%; display:table; table-layout:fixed; font-size:14px;}
.elemento_acordeon{ display:table; width:100%; cursor:pointer;}
.elemento_acordeon_titulo{ font-family: 'Montserrat', sans-serif;
    font-weight: 400; font-size:18px;}
 .elemento_acorderon_contenido{ width:100%; padding:5px; float:left; display:none; cursor:default;}
.padd { padding:12px !important;}
/* texto img */
.textoImagen { box-shadow:none; transition: all 0.1s linear;}
.textoImagen:hover { }
.textoImagenTexto  { width:100%; float:left; width: 50%;   }
.textoImagenImg {  }
.textoImagen:hover .textoImagenImg { bottom:5px;} 
 
/*  */
.botonC{ background-color:#FF9501; padding:6px; cursor:pointer; border:none;     color:#FFF; float:right; text-shadow:none;  font-size:14px; opacity:0.8;}
.botonC:hover{ background-color:#FF9501; opacity:1; }

/* efeto boton */
.cuadroBoton{float:left; width:100%;  padding-bottom: 180%; position:relative; transition: all 0.2s linear; overflow:hidden; background-color: #000;}
.cuadroBotonImg{width:100%; height:100%;background-size:cover; position:absolute; transition: all 0.2s linear; opacity: .8}
.cuadroBotonTexto1 { padding:5px;   color:#fff; font-size:30px;   bottom: 20px;  left: 20px; position:absolute;  width:80%; transition: all 0.2s linear; font-family: 'Montserrat', sans-serif; font-weight:300;}
.cuadroBotonMascara { width:100%; height:100%; background-color:rgba(0,0,0,0.9); position:absolute; opacity:0; transition: all 0.2s linear;}
.cuadroBotonMascaraTexto { padding:5px;   color:#fff; font-size:16px; text-align:center; top:40%; left: 50%; position:absolute; font-size:13px;  transform: translateX(-50%); width:100%; transition: all 0.2s linear;}
.cuadroBotonMascaraTextoTitulo {font-family: 'Montserrat', sans-serif; font-weight:300; font-size:20px;}
.cuadroBotonMascaraLiga { padding:5px;  font-size:16px; text-align:center; bottom:650px; left: 50%; position:absolute;  transform: translateX(-50%);  transition: all 0.2s linear; opacity:0;  background-color:rgba(0,0,0,1); color:#fff; background-color:#d83d50;; color: #FFF;}
.cuadroBotonMascaraLiga:hover {background-color:rgba(255,255,255,0.76); color:#333;}
.cuadroBoton:hover .cuadroBotonImg{ transform: scale(1.2,1.2); opacity: 1}
.cuadroBoton:hover .cuadroBotonTexto1{ bottom:-300px;}
.cuadroBoton:hover .cuadroBotonMascara{ opacity:1;}
.cuadroBoton:hover .cuadroBotonMascaraTexto{    }
.cuadroBoton:hover .cuadroBotonMascaraLiga{  bottom: 30%; opacity:1; }


@media screen and (max-width: 900px) {

.cuadroBoton { padding-bottom: 50%;}
}

/*  */
/* animacion */
.animacion { opacity:0;}
/* elementos */
.load { display:none; background-image:url(/img/load.gif); background-position:center center; height:100px; background-repeat:no-repeat; position:absolute; right:50%; top:50% ; width:100px; background-color: #FFF;  }