.logoHome { padding:50px; position: absolute;  width: 100%; max-width:600px; z-index: 2; top: 50%; left: 50%;  transform: translate(-50%,-50%)}

.crucesProgramas { height:120px; }
.crucesProgramas p{ position:absolute; top:50%; left:50%; transform: translate(-50%,-50%)}

@media screen and (max-width: 600px) {
    .logoHome { padding:100px; top:20%;  }
}