.subtituloRegular {font-family: 'Poppins', sans-serif; font-size: 24px;}
.tituloBanner {font-family: 'Poppins', sans-serif; font-size: 50px;font-weight: bold; line-height:110%; text-shadow:0 0 2px rgba(0,0,0,.8)}
.tituloSeccion {font-family: 'Poppins', sans-serif; font-size: 30px;font-weight: 600; line-height:110%}
.tituloGrande {font-family: 'Poppins', sans-serif; font-size: 40px; line-height:110%}
.tituloSmall {font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: bold; line-height:110%}
.tituloMini {font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: bold; line-height:110%}
.tituloSub {font-family: 'Poppins', sans-serif; font-size: 24px; line-height:110%}
.tituloFooter{font-family: 'Poppins', sans-serif; font-size: 16px;font-weight: bold;}