#headerSiempre {position: fixed; width: 100%; z-index: 999; height:70px; background-color: #FFF; box-shadow:0 0 10px rgba(0,0,0,.6);}
.header {background-color: #76292e; color: #FFF; font-size: 10px; top: -100px;}
.headeEspaciador { width:100%; height:70px;}
.headerLogo { position:absolute; left:0; height:70px; padding:10px ; z-index:9; }
.menuMenuE { float: left; color: #000; font-size: 15px; cursor: pointer;   }
.menuMenuEM { border-bottom: 2px solid transparent; height: 70px; line-height: 70px; padding: 0 20px 0 20px; transition: linear .1s;   } 
.menuMenuES { position: absolute; background-color: rgba(0,0,0,0.92); border:1px solid #333; display: none; transition: linear .1s; box-shadow:0 0 10px #000; top: 70px; z-index: 999; border-top: 2px solid #ED8B00;} 
 
.menuMenuE:hover .menuMenuEM{  border-bottom: 2px solid #E1396F;  background-color: rgba(255,255,255,0.2) }
.menuMenuEP{  color:#E1396F;}

#menuNormal { display:block}
.menuMenuE:hover .menuMenuES{ display: block;}
 .menuRIcons { background-color: #76232F; color: #FFF; cursor: pointer; width:100px}
.menuBonitoOculta {  }
.menuColoresNoRes {  }
.menuEtiqueta { padding-left:5px}
#iconMenu{ display:none}
#menuLateralVisible { display:none}
@media screen and (max-width: 800px) {
    #granAvatar { display:none;}
        #menuNormal { display:none}
	.menuColoresNoRes {   display: block;}
	.menuTopElementos { display: none;}
 .menuEtiqueta { display:none;}
	.menuRIcons { width:auto;}
	#iconMenu{ display:block}
	#iconoMenu2 { display:none;}
}
/*menuTop*/


 .menuIconosDer {position: fixed; right: 0; z-index: 99;  top:100px; }

.menuColor {}

.menuRCintilla {   text-align: left; color: #FFF;  width: 100%;    transition: linear .1s; cursor: pointer;}
.menuRCintillaColor { height: 100%; position: absolute; width: 205px; right: -5px;  transition: linear .1s;}
.menuRCintillaT { padding: 10px 10px 10px 10px; transition: linear .1s;}
.menuRCintillaFlecha {position: absolute; right: 0; top: 50%; z-index:1; cursor:pointer;transform: translateY(-50%)}
.menuRCintillaColor2::after {
  content: '';
  background: url("/img/sombraMenu.png");
  background-position: center center;
  background-size: cover;
  height: 9px;
  width: 100%;
  left: -0;
  position: absolute;
  z-index: 0; top: 0px; z-index: 9
}

.menuRCintilaSub { padding-left: 15px; font-size: 12px; display: none; transition: linear .1s;}
.menuRCintilaSubMenu {
 border-top: solid  rgba(255,255,255,.1) 1px; color:#FFFFFF;
 padding: 8px;
}

.menuRCintilaSubMenu:hover {
 background-color: rgba(255,255,255,0.1)
}


.menuRCintilla:hover .menuRCintillaColor  {   right: 0;   }
.menuRCintilla:hover .menuRCintillaT  {  padding-left: 3px; }
.menuRCintilla:hover .menuRCintilaSub  {  padding-left: 5px; }

.menuNegro { width: 100%; text-align: left; padding: 5px 5px 5px 20px; border-bottom: 1px solid #333; color:#FFFFFF; float: left;  transition: linear .1s; cursor: pointer;}
.menuNegroSub { padding-left: 40px; width: 100%; float: left;  transition: linear .1s;  cursor: pointer; display: none; }
.menuNegroTotal:hover .menuNegro { padding-left: 30px; background-color: rgba(255,255,255,0.1)}

.menuNegroSubMenu {width: 100%; text-align: left; padding: 5px; border-bottom: 1px solid #333; float: left; color:#FFFFFF;  transition: linear .1s; cursor: pointer;}
.menuNegroSubMenu:hover { padding-left: 10px; background-color: rgba(255,255,255,0.1)}

/* fiexed*/

.botonesPermanentes { position:fixed; z-index:90; right:0; bottom:0; padding:10px; cursor:pointer}
.botonesPermanentesBolita:hover { opacity:.9; box-shadow:0 0 10px rgba(0,0,0,.5)}
.botonesPermanentesBolita { width:40px; text-align:center; height:40px; line-height:40px; color:#FFF; border-radius:100px; margin-bottom:10px;}
.whats { background-color:#25D366}
.whatsCel { background-color:#25D366; display:none;}
.formaEnFooter {}
.divisorMapa { height:150px;}

@media screen and (max-width: 600px) {
   .whats { display:none;} 
   .whatsCel { display:block;}
   .formaEnFooter { display:none;}
   .mapaFooter img{ display:none}
   /* el divisor del media y del mapa*/
   .divisorMapa { height:60px}
}

.mails { background-color: #76292e}
.phons { background-color: #326da8 }
.infs { background-color: #ED8B00 }