
input[type="text"], input[type="date"], input[type="email"],input[type="password"],input[type="number"], textarea, select { 
    outline: none; box-sizing: border-box; width: 100%;  font-family: 'Montserrat', sans-serif; background-color: #DEDEDE; border: 1px solid transparent; padding: 10px;
}
a {outline:none; color:#333;}

a:hover {  color:#E1396F;}
input[type="text"]:hover, input[type="email"]:hover,input[type="password"]:hover, input[type="number"]:hover, textarea:hover, select:hover { 
 background-color: #EBEBEB;
}
input[type="text"]:focus, input[type="email"]:focus,input[type="password"]:focus, input[type="number"]:focus, textarea:focus, select:focus { 
 background-color: #EBEBEB;
}

input[type="submit"  ] {
  border:none;   
}

hr{
    display: inline-table;
    width: 98%;
    height: 3px;
    background: #fff;
    margin: 5px 0!important;
    border-left: 10px solid #373c8e;
    border-top: 0;
}

.elemento_titulo{ 
   font-size: 25px;
    
     font-family: 'Montserrat', sans-serif; 
}
.elemento_tituloon{color: #f7403a;
     font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
}
.textoImagenTitulo {  color: #495aa2 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;  }
.textoImagenImagen { border-radius: 50%;}
.textoImagenTitulo1 { padding:5px; background-color:rgba(0,0,0,0.86); color:#fff; font-size:16px; text-align:center; top: 50%;  left: 50%; position:absolute;  transform: translate(-50%, -50%); width:80%; font-weight:100;}
.elemento_divisor{ clear:both;    width:100%;  
}
.elemento_divisor1{ clear:both; width:100%; height:1px; background-color:#CCC; margin:8px 0 8px 0;
}
.elementoBanner { position:relative; width:100%;}
.elementoBannerInterno{position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .elementoBannerTit { font-size:48px;  font-family: 'Playfair Display', sans-serif; font-weight:100; line-height:120%;  }
   .elementoBannerText { font-size:20px;  }
.elementoFile { width:100%; display:table; table-layout:fixed; font-size:14px;}
.elemento_acordeon{ display:table; width:100%; cursor:pointer;}
.elemento_acordeon_titulo{ font-family: 'Montserrat', sans-serif;
    font-weight: 400; font-size:18px;}
 .elemento_acorderon_contenido{ width:100%; padding:5px; float:left; display:none; cursor:default;}
.padd { padding:12px !important;}
/* texto img */
.textoImagen { box-shadow:none; transition: all 0.1s linear;}
.textoImagen:hover { }
.textoImagenTexto  { width:100%; float:left; width: 50%;   }
.textoImagenImg {  }
.textoImagen:hover .textoImagenImg { bottom:5px;} 
 
 /* galeria de videos */
 .videoGaleriaIzq {width: calc(100% - 200px); height: 100%; float: left;background-image:url(/img/load.gif); background-repeat:no-repeat; background-position:center center; }
 .videoGaleriaDerecha {width: 200px; height: 100%; float: right; overflow-y: auto; }
 .videoGaleriaThumb { width:100%; position:relative; float:left; z-index:1; background-size:cover; background-repeat:no-repeat; height:120px; border:2px solid #000; cursor:pointer}
 .videoGaleriaThumbP {border:2px solid #76232F ; }
 .videoGaleriaTit { position:absolute;     white-space: normal; bottom:0; width:100%; left:0; padding:5px; color:#FFF; background-color:rgba(0,0,0,.5); line-height:100%}
 @media screen and (max-width: 800px) {
     .videoGaleriaIzq { width:100%; height: calc(100% - 140px)}
     .videoGaleriaThumb { width:200px; display:inline-block; float: none !important; }
     .videoGaleriaDerecha { width:100%;  overflow-x: auto; height:150px ;    white-space: nowrap;}
     .videoGal { padding-bottom:120% !important;}
      .videoGaleriaTit { width:200px }
 }
 
/*  */
.botonC{ background-color:#FF9501; padding:6px; cursor:pointer; border:none;     color:#FFF; float:right; text-shadow:none;  font-size:14px; opacity:0.8;}
.botonC:hover{ background-color:#FF9501; opacity:1; }

/* efecto boton */
.cuadroBoton{float:left; width:100%;  padding-bottom: 100%; position:relative; transition: all 0.2s linear; overflow:hidden; background-color: #000;}
.cuadroBotonImg{width:100%; height:100%;background-size:cover; position:absolute; transition: all 0.2s linear; opacity: .8}
.cuadroBotonTexto1 { padding:5px;   color:#fff; font-size:13px;   bottom:10px; line-height: 100%; background-color:rgba(0,0,0,.5);  left: 20px; position:absolute;  width:80%; transition: all 0.2s linear;  font-weight:300;}
.cuadroBotonMascara { width:100%; height:100%; background-color:rgba(0,0,0,0.9); position:absolute; opacity:0; transition: all 0.2s linear;}
.cuadroBotonMascaraTexto { padding:5px;   color:#fff; font-size:16px; text-align:center; top:30px; left: 50%; position:absolute; font-size:13px;  transform: translateX(-50%); width:100%; transition: all 0.2s linear;}
.cuadroBotonMascaraTextoTitulo {  font-weight:300; font-size:16px;}
.cuadroBotonMascaraLiga { padding:5px;  font-size:16px; text-align:center; bottom:650px; left: 50%; position:absolute;  transform: translateX(-50%);  transition: all 0.2s linear; opacity:0;  background-color:rgba(0,0,0,1); color:#fff; background-color:#BDA366;; color: #FFF;}
.cuadroBotonMascaraLiga:hover {background-color:rgba(255,255,255,0.76); color:#333;}
.cuadroBoton:hover .cuadroBotonImg{ transform: scale(1.2,1.2); opacity: 1}
.cuadroBoton:hover .cuadroBotonTexto1{ bottom:20px;}
.cuadroBoton:hover .cuadroBotonMascara{ opacity:1;}
.cuadroBoton:hover .cuadroBotonMascaraTexto{    }
.cuadroBoton:hover .cuadroBotonMascaraLiga{  bottom:20px; opacity:1; }


.mensaje .material-icons { position:absolute; left:0; z-index:1;}
.mensaje .im { position:absolute; left:0; z-index:1;}
.mensaje .div100 {  padding-left:30px; font-size:13px;}

@media screen and (max-width: 900px) {

}

.lineHeight100 { line-height:100%;}

/*  */
/* animacion */
.animacion { opacity:0;}
/* elementos */
