

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
      
   }

#drop{
   /* padding: 10px;
    margin-bottom: 30px;*/
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
  
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    
    
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none; width:400px;
      
}

#upload ul li{

  
    border-top:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
     font-size: 13px;
    font-weight: bold;
    position: absolute;
   
    left: 100px;
}
.error{ font-size:13px !important;}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
   display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('/Admin/img/uploadIcons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}